.videoFooter {
  position: relative;
  bottom: 150px;
  margin-left: 40px;
  color: white;
  display: flex;
}

.videoFooter__logo {
  animation: logoSpin infinite 5s linear;
  height: 50px;
  filter: invert(1);
  position: absolute;
  bottom: 0;
  right: 20px;
}

.videoFooter__text {
  flex: 1;
}

.videoFooter__text > h3 {
  padding-bottom: 20px;
}

.videoFooter__text > p {
  padding-bottom: 20px;
}

.videoFooter__icon {
  position: absolute;
}

.videoFooter__ticker > .ticker {
  height:fit-content;
  margin-left: 30px;
  width: 60%;
}

.videoFooter__ticker p {
  padding-top: 6px;
}

@keyframes logoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}