.video {
  position: relative;
  background-color: white;
  height: 500px;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.video__player {
  object-fit: fill;
  height: 100%;
  width: 100%;
}